@media (max-width: 739px) {
    /* mobile-button */

    .mb-menu-button {
        display: inline-block;
    }

    .mb-search {
        display: block;
    }

    .mb-menu {
        width: 100vw;
        height: 100vh;
    }

    .mb-filter {
        display: block;
    }

    .mb-close {
        display: block;
    }

    /* header */

    .header {
        overflow: hidden;
    }

    .group {
        display: block;
    }

    .group button {
        border: none;
    }

    .header .navigation {
        display: block !important;
        background-color: #f2f2f2;
    }

    .header .navigation li {
        display: block !important;
        border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    }

    .header .navigation li:first-child {
        border-top: solid 1px rgba(0, 0, 0, 0.5);
    }

    .search {
        display: none !important;
    }

    .underline {
        text-align: center;
        display: block;
    }

    .underline:hover::before {
        content: unset !important;
    }
    
    /* content */

    .container {
        padding: 0 !important;
    }

    .arrow-left {
        display: none;
    }

    .arrow-right {
        display: none;
    }

    /* game-navigation */

    .page-heading {
        margin-left: 18px;
    }

    .catagory {
        width: 100%;
        height: 100%;
        display: none;
    }

    .row {
        width: 100vw;
        margin: auto !important;
    }

    .game-container {
        display: block;
    }

    .game {
        margin: 50px 0;
    }
}

@media (min-width: 740px) and (max-width: 1024px) {
    
}