/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --white-color-light: hsl(0, 0%, 90%);
  --shadow-bg: linear-gradient(180deg,
             hsla(0, 0%, 0%, 0) 60%,
             hsla(0, 0%, 0%, .7) 78%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 50;
  --z-footer: 80;
  --z-login: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  color: var(--white-color);
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

input,
button {
  border: none;
  outline: none;
  background: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LAYOUT ===============*/
.hide__content {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.hide__content.show__content {
  transform: translateY(0px);
  opacity: 1;
}

.main {
  position: relative;
  display: grid;
  row-gap: 2.5rem;
  padding-top: 7.5rem;
  margin-inline: 20rem 2rem;
}

.home {
  display: block;
}

.bg__image,
.bg__blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.bg__image {
  object-fit: cover;
  object-position: center;
}

.bg__blur {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

/*=============== HEADER ===============*/
.header {
  width: calc(100% - 17rem);
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  left: initial;
  display: grid;
  justify-content: space-between;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: hsla(0, 0%, 0%, .2);
  align-items: center;
  row-gap: 1.5rem;
  grid-template-columns: repeat(2, max-content);
  padding: 0 2rem 0 3rem;
  z-index: var(--z-fixed);
}

.header__content,
.header__nav,
.header__user,
.header__search {
  display: flex;
}

.header__content {
  justify-content: space-between;
  align-items: center;
}

.nav__close, .header__logo, .header__menu {
  display: none;
}

.header__logo, .nav__logo {
  font-family: "Rubik Scribble", system-ui;
}

.header__logo, .nav__logo {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  text-decoration: none;
}

.header__nav {
  column-gap: .75rem;
  align-items: center;
  font-size: 1.25rem;
}

.header__nav i,
.header__menu {
  cursor: pointer;
}

.header__login {
  position: relative;
}

.header__nav a {
  text-decoration: none;
}

.header__nav i {
  font-size: 2rem;
}

.header__search {
  align-items: center;
  column-gap: .5rem;
  background-color: hsla(0, 0%, 100%, .15);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding-inline: 1rem;
  border-radius: .75rem;
  order: -1;
  width: 450px;
}

.header__search i {
  font-size: 1.25rem;
}

.header__input {
  width: 100%;
  padding-block: 0.7rem;
  background-color: transparent;
  color: var(--white-color);
}

.header__input::placeholder {
  color: var(--white-color);
}

/*=============== NAV ===============*/
.navigation {
  position: fixed;
  top: 0;
  right: initial;
  background-color: hsla(0, 0%, 0%, .2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 285px;
  height: 100%;
  padding: 3rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: var(--z-fixed);
  transition: right .4s;
}

.nav__logo {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  text-decoration: none;
  border-bottom: 1px solid var(--white-color-light);
  padding-bottom: 1.25rem;
}

.nav__menu,
.nav__list {
  display: grid;
  row-gap: 2rem;
  padding-left: 0;
}

.active::after {
  content: '';
  width: 70%;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
}

.nav__item {
  width: max-content;
  position: relative;
}

.nav__item::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav__item:hover::after {
  width: 70%;
}

.nav__link, .login__button {
  display: inline-flex;
  color: var(--white-color);
  column-gap: .75rem;
  align-items: center;
  text-decoration: none;
}

.nav__link i {
  font-size: 1.5rem;
}

.nav__title {
  font-size: var(--normal-font-size);
  margin-bottom: .75rem;
}

.nav__user {
  position: relative;
  border-top: 1px solid var(--white-color-light);
}

.nav__user button {
  width: 100%;
}

.nav__user button:hover {
  opacity: 0.75;
}

.nav__user .user__container{
  width: max-content;
  display: flex;
  align-items: center;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show__menu {
  right: 0 !important;
}

/* Show Hide */
.show {
  display: block;
}

.hide {
  display: none;
}

/*=============== BANNER ===============*/
.banner {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.banner__list {
  height: 100%;
  width: 600%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1.5s ease;
}

.banner__button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__button button {
  position: relative;
  height: 100%;
  width: 20%;
}

.banner__button button:hover i {
  color: var(--white-color);
}

.banner__button i {
  position: absolute;
  width: max-content;
  font-size: 3rem;
  color: var(--white-color-light);
  transition: all 1s ease;
}

.banner__button button:first-child i {
  left: 0;
}

.banner__button button:last-child i {
  right: 0;
}

.banner__dots {
  position: absolute;
  bottom: 1rem;
  color: var(--white-color);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.banner__dots .dot {
  list-style: none;
  width: 25px;
  height: 5px;
  background-color: var(--white-color);
  margin: 0.5rem;
  border-radius: 2rem;
  opacity: 0.75;
  transition: 0.5s;
}

.banner__dots .dot__active {
  opacity: 1;
}

.banner__card, .banner__img {
  width: 150%;
  height: 600px;
}

.banner__card {
  position: relative;
  display: grid;
  place-items: center;
  color: var(--white-color);
}

.banner__img, .banner__shadow {
  width: 100%;
  border-radius: 1rem;
}

.banner__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-bg);
  border-radius: 1rem;
}

.banner__data {
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
}

.banner__title {
  font-size: var(--big-font-size);
}

/*=============== CARDS ===============*/
.page__title, .page__link {
  color: #fff;
  font-size: var(--h1-font-size);
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

#home .page__link {
  opacity: 1;
}

#home .page__link:hover {
  opacity: 0.75;
}

.page__link {
  opacity: 0.75;
}

.page__link:hover {
  opacity: 1;
}

.card__article {
  width: 152px;
}

.card__link {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  color: var(--white-color);
}

.card__img {
  width: 100%;
  height: 360px;
  border-radius: 1rem;
}

.card__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-bg);
  border-radius: 1rem;
}

.card__data {
  position: absolute;
  text-align: center;
  padding-inline: 1.5rem;
  bottom: 1.5rem;
}

.card__name {
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.card__category {
  font-size: var(--normal-font-size);
  border-right: 1px solid var(--white-color-light);
  padding-right: 0.3rem;
}

.card__category:last-child {
  border-right: unset;
  padding-right: unset;
}

.card__like {
  position: absolute;
  top: .75rem;
  right: .75rem;
  font-size: var(--h2-font-size);
  cursor: pointer;
}

/*=============== MAIN CONTENT ===============*/
.main__content {
  position: relative;
  display: grid;
  min-height: 50vh;
}

/* Swiper class */
.swiper {
  margin-inline: initial;
}

/*=============== TRENDING ===============*/
.new__card {
  scale: .8;
  transition: scale .4s;
}

.new__data {
  opacity: 0;
  transition: opacity .4s;
}

/* Swiper class */
.swiper-slide-active .new__data {
  opacity: 1;
}

.main__content .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.main__content .swiper-pagination-bullet {
  width: 1.5rem;
  height: .25rem;
  border-radius: 1rem;
  background-color: var(--white-color);
  transition: background-color .3s, opacity .3s;
}

.main__content .swiper-pagination-bullet-active {
  background-color: var(--white-color);
}

.main__content .swiper-slide-active, .main__content .swiper-slide-duplicate-active {
  scale: 1;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background-color: hsl(0, 0%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 30%);
  border-radius: 1rem;
}

/*=============== GAME PAGE ===============*/
.banner__card .game__background {
  position: absolute;
  top: 0;
}

.game__tittle a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.game__tittle span {
  color: rgba(255, 255, 255, 0.8);
}

.game__background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 1rem;
}

.game__data {
  height: 100%;
  color: var(--white-color-light);
}

.game__desc {
  font-size: var(--h3-font-size);
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.game__catagory {
  margin-bottom: 3rem;
}

.game__catagory span, .fav__catagory span {
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
  text-transform: capitalize;
}

.game__catagory span:hover, .fav__catagory span:hover {
  background: var(--white-color);
  color: #000;
}

.game__rating {
  border-top: 1px solid var(--white-color-light);
  padding-top: 1.25rem;
}

.like__button {
  width: 45%;
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: rgba(255, 255, 255, 0.5);
  font-size: var(--h3-font-size);
  border-radius: 1rem;
  padding: 1rem;
}

.like__button:hover, .like__button:hover i {
  background: var(--white-color);
  color: #000;
}

.game__content {
  font-size: var(--h3-font-size);
}

/*=============== FAVOURITE ===============*/
.fav__game {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem 0;
}

.fav__link {
  width: 100%;
  position: relative;
  display: inline-flex;
  color: var(--white-color);
}

.fav__img {
  position: relative;
  padding: 0 !important;
  margin-left: 2rem;
}

.fav__img img {
  width: 100%;
}

.fav__data {
  text-align: left;
  padding: 0 !important;
  margin-left: 2rem;
}

.fav__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.fav__data a {
  text-decoration: none;
}

.fav__content {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

/*=============== BLOG ===============*/
.blog {
  width: 50%;
  height: 600px;
  position: relative;
  margin: auto;
}

.blog__preview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem;
}

.blog__preview:last-child {
  border-bottom: none;
}

.blog__header {
  display: flex;
  width: fit-content;
  border-radius: 1rem;
  padding: 1rem;
}

.blog__preview .user__img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.blog__preview .user__name {
  font-size: var(--h2-font-size);
}

.blog__preview .user__timestamp {
  font-size: var(--normal-font-size);
}

.blog__img {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}

.blog__title {
  font-size: var(--h2-font-size);
  text-transform: capitalize;
}

.blog__footer {
  width: 100%;
  height: 50px;
  font-size: var(--h3-font-size);
}

.blog__footer button {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.blog__footer button:hover {
  opacity: 0.75;
}

.blog__main {
  width: 150%;
  position: absolute;
  top: -5%;
  left: -25%;
  z-index: var(--z-fixed);
}

.blog__bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.blog__container {
  position: relative;
  background-color: #000;
  padding: 3rem;
  border-radius: 1rem;
  z-index: var(--z-fixed);
}

.blog__main .blog__header {
  padding: 0;
}

.blog__main .user__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.blog__main .blog__heading {
  font-size: var(--h1-font-size);
}

.blog__main .blog__img {
  height: 300px;
}

.blog__main .blog__content {
  font-size: var(--h3-font-size);
}

.blog__main button {
  width: max-content;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
  background: #333;
  border-radius: 50%;
}

.blog__main i {
  font-size: var(--h2-font-size);
}

/*=============== USER ===============*/
.user {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.user__nav {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 0 !important;
}

.user .user__img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user__infor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__infor::after {
  content: "";
  width: 80%;
  border-bottom: 1px solid var(--white-color-light);
}

.user .nav__list {
  font-size: var(--h3-font-size);
  padding: 3rem 0;
}

.user__form {
  font-size: var(--h3-font-size);
}

.user input {
  color: #000;
  background-color: var(--white-color-light);
  width: 100%;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
}

.user .form__button {
  border: 1px solid var(--white-color-light);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

/*=============== CONTACT ===============*/
.contact__container {
  width: 100%;
  display: flex;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 3rem 5rem;
}

.contact__map {
  width: 50%;
}

.contact__map iframe {
  width: 100%;
}

.contact__content {
  width: 50%;
}

.contact__header {
  margin-bottom: 3rem;
}

.contact__heading {
  font-size: var(--h1-font-size);
  text-align: center;
  text-transform: uppercase;
}

.contact__body input, .contact__body textarea {
  width: 100%;
  font-family: var(--body-font);
  color: #000;
  background-color: var(--white-color-light);
  padding: 1rem;
  border-radius: 1rem;
}

.contact__body input:focus-visible, .contact__body textarea:focus-visible {
  border: 3px solid #333;
}

.contact__body .row:first-child {
  justify-content: space-between;
}

.contact__input {
  position: relative;
}

.contact__input i, .contact__input span {
  position: absolute;
  color: #000;
  font-size: var(--h3-font-size);
  right: 1rem;
  top: 30%;
  opacity: 0.75;
}

.contact__input span {
  right: 0;
}

.contact__input:last-child span {
  top: 45%;
}

.contact__footer button {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: var(--h2-font-size);
  color: #000;
  border-radius: 1rem;
  padding: 1rem;
}

.contact__footer button:hover {
  background-color: var(--white-color-light);
}

/*=============== SIGNIN SIGNUP ===============*/
.user__modal {
  width: 100%;
  height: 100%;
  color: #000;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.modal__container {
  position: relative;
  width: 768px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
  font-family: var(--body-font);
  box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.2),
      0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 2;
  transform: translateY(-150%);
}
.modal__container.open-modal__container {
    transform: translateY(0);
    transition: transform 0.5s linear;
}

.modal__container.close-modal__container {
    transform: translateY(-150%);
    transition: transform 0.5s linear;
}

.modal__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.close__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 5px;
  z-index: 3;
}

.close__button i {
  font-size: 2rem;
}

.overlay__container {
  display: none;
}

.form__container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.modal__container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0 0 0;
}

.signin__container {
  left: 0;
  width: 50%;
}

.signup__container {
  right: 0;
  width: 50%;
}

.form__container form {
  height: 100%;
  background: #fff;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social__container {
  margin: 20px 0;
}

.form__container h2 {
  color: #000;
}

.form__container span {
  color: #333;
}

.social__container a {
  height: 40px;
  width: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.social i {
  color: #000;
  font-size: 1.5rem;
}

.form__container input {
  width: 100%;
  color: #000;
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
}

.italic {
  font-style: italic;
}

.form__container button, .overlay__container button {
  background: #000;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-top: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form__container button:hover, .overlay__container button:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}

.form__container button:active, .overlay__container button:active  {
  transform: scale(0.95);
}

.form__container button:focus, .overlay__container button:focus {
  outline: none;
}

.form__container button.ghost, .overlay__container button.ghost  {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: solid 1px #ddd;
}

.form__container button:hover.ghost, .overlay__container button:hover.ghost {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.signup__container {
  left: 0;
  opacity: 0;
}

.overlay__container {
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.overlay {
  position: relative;
  height: 100%;
  width: 200%;
  left: -100%;
  object-fit: contain;
  color: #fff;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay__image {
  width: 50%;
  height: 100%;
  transform: translateX(100%);
  opacity: 1;
}

.overlay__panel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay__panel button {
  background: #ddd;
}

.overlay__right {
  right: 0;
  transform: translateY(0);
}

.overlay__left {
  transform: translateY(-20%);
}

.form__mobile {
  display: none;
  font-size: var(--font-medium);
}

.modal__container.right-panel__active {
  & .signin__container {
      transform: translateY(100%);
      opacity: 0;
  }

  & .overlay__container {
      transform: translateX(-100%);
  }
  & .overlay__image {
      transform: translateX(0);
  }
}

.modal__container.modal__container.right-panel__active {
  & .signup__container {
      transform: translateX(100%);
      opacity: 1;
  }

  & .overlay {
      transform: translateX(50%);
  }

  & .overlay__right {
      transform: translateY(20%);
  }
}

/*=============== FOOTER ===============*/
.footer {
  width: 100%;
  height: fit-content;
  color: white;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5rem;
}

.footer__container {
  height: fit-content;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 0;
  margin: auto;
}

.copyright__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  margin: 1.2rem 0;
  font-size: calc(1vw + 20px);
}

.footer__info, .menu__item {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.menu__item:hover {
  opacity: 1;
}

.menu__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social__link {
  height: 100%;
  width: 30px;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
  text-decoration: none;
  font-size: var(--h2-font-size);
}

.social__link:hover {
  opacity: 0.7;
}

/*=============== ADMIN ===============*/
.admin {
  font-size: var(--h1-font-size);
  font-weight: var(--big-font-size);
  text-transform: uppercase;
}

/* ADD GAME */
.add {
  width: 80%;
  margin: auto;
}

.add h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

.add input, .add textarea {
  color: #000;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--white-color-light);
}

.add input:focus-visible, .add textarea:focus-visible {
  border: 3px solid #000;
}

.add button {
  color: #000;
  background-color: var(--white-color-light);
  padding: 1rem 2rem;
  border: 1px solid var(--white-color);
  border-radius: 1rem;
}

.add button:hover {
  background-color: #ccc;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 767px) {
  .admin__header {
    height: 8vh !important;
  }

  .add {
    width: 100%;
  }

  .col-sm, .col-sm-3, .col-sm-4, .col-sm-8 {
    margin: 1rem 0;
  }

  .col-sm-3:first-child {
    margin-top: 0;
  }

  .col-sm-3:last-child {
    margin-bottom: 0;
  }

  .header {
    display: block;
    height: 15vh;
  }

  .main {
    margin-inline: 1rem;
    padding-block: 10rem 5rem !important;
  }
  
  .header__logo {
    display: block;
  }

  .header__search {
    width: unset;
  }

  .banner {
    height: 400px;
  }

  .banner__card, .banner__img {
    height: 400px;
    border-radius: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }

  .footer__container {
    display: block;
    padding: 0;
    margin: auto;
  }

  .footer__container > .footer__content:first-child {
    display: none;
  }

  .footer__menu {
    width: unset;
    margin-top: 1rem;
  }

  .footer__menu .footer__content {
    width: 50%;
  }

  .footer__container > .footer__content:last-child {
    display: block;
    width: max-content;
    margin: auto;
    text-align: center;
    margin: 2rem auto;
  }

  .banner__card.col-sm-5 {
    padding: 0 !important;
  }

  .fav__game {
    padding: 1.5rem;
  }

  .blog {
    width: 100%;
  }

  .blog__preview {
    width: 100%;
  }

  .blog__img {
    height: 200px;
  }

  .blog__main {
    width: 110%;
    height: 100%;
    left: -5%;
  }

  .blog__main .blog__content {
    font-size: var(--h2-font-size);
  }
  
  .user__nav {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .user .nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 3rem 0 0 0;
  }

  .user .nav__item {
    display: inline-block;
    font-size: var(--big-font-size);
  }

  .user .nav__item::after {
    width: 0;
  }

  .user .active {
    background-color: rgba(0, 0, 0, 0.5);
    position: unset;
    border: none;
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .user .active::after {
    width: 0;
  }

  .user__content {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .user__profile, .user__password {
    margin: 0 1rem;
  }

  .user__heading {
    display: none;
  }

  .user__content .mt-5 {
    margin-top: 2rem !important;
  }

  .user__form input {
    width: 100%;
    padding: 0.5rem 0.8rem;
  }

  .overlay__container {
    display: none;
  }

  .form__container {
    width: 100%;
  }

  .close__button i {
    color: #000;
  }

  .form__mobile {
    display: block;
  }

  .contact__container {
    flex-direction: column-reverse;
    padding: 3rem 1.5rem;
  }

  .contact__map {
    width: 100%;
    margin-top: 3rem;
  }

  .contact__content {
    width: 100%;
  }

  .contact__header {
    margin-bottom: 0;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    margin-inline: 1.5rem;
    padding-top: 10rem;
  }
  
  .banner, .banner__card, .banner__img {
    height: 400px;
  }

  .banner__img {
    width: 100%;
    border-radius: 1rem;
  }

  .banner__data {
    bottom: 2.5rem;
  }

  .banner__category {
    font-size: var(--h1-font-size);
  }

  .footer {
    padding: 3rem 5rem;
  }

  .footer__container {
    width: 100%;
    padding: 3rem 0;
  }

  .footer__contact {
    width: 300px;
  }

  .blog__preview {
    width: 80%;
  }

  .blog__main {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    left: 0;
    width: 100vw;
    padding: 1rem 1.5rem;
  }

  .main {
    row-gap: 1.5rem;
    padding-block: 8.5rem 4rem;
  }
  
  .navigation {
    right: -100%;
  }

  .nav__close,
  .header__menu {
    display: block;
  }

  .card__title {
    font-size: var(--h1-font-size);
  }

  .card__name {
    font-size: var(--h2-font-size);
  }

  .card__category {
    font-size: var(--h3-font-size);
  }

  .card__like {
    font-size: var(--big-font-size);
  }

  .card__data {
    bottom: 1rem;
    padding-inline: .75rem;
  }

  .game__catagory span, .fav__catagory span {
    padding: 0.3rem 0.5rem;
  }
}