@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

button {
    background-color: transparent;
}

.user__modal {
    width: 100%;
    height: 100%;
    color: #000;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    position: relative;
    width: 768px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    box-shadow:
        0 14px 28px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 2;
}

.modal__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.close__button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
    z-index: 3;
}

.close__button i {
    font-size: 2rem;
}

.overlay__container {
    display: none;
}

.form__container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.modal__container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0 0 0;
}

.signin__container {
    left: 0;
    width: 50%;
}

.signup__container {
    right: 0;
    width: 50%;
}

.form__container form {
    height: 100%;
    background: #fff;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social__container {
    margin: 20px 0;
}

.form__container h2 {
    color: #000;
}

.form__container span {
    color: #333;
}

.social__container a {
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.social i {
    color: #000;
    font-size: 1.5rem;
}

.form__container input {
    width: 100%;
    color: #000;
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
}

.italic {
    font-style: italic;
}

.form__container button, .overlay__container button {
    background: #000;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.form__container button:hover, .overlay__container button:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.form__container button:active, .overlay__container button:active  {
    transform: scale(0.95);
}

.form__container button:focus, .overlay__container button:focus {
    outline: none;
}

.form__container button.ghost, .overlay__container button.ghost  {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: solid 1px #ddd;
}

.form__container button:hover.ghost, .overlay__container button:hover.ghost {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

.signup__container {
    left: 0;
    opacity: 0;
}

.overlay__container {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}

.overlay {
    position: relative;
    height: 100%;
    width: 200%;
    left: -100%;
    object-fit: contain;
    color: #fff;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}

.overlay__image {
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    opacity: 1;
}

.overlay__panel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}

.overlay__panel button {
    background: #ddd;
}

.overlay__right {
    right: 0;
    transform: translateY(0);
}

.overlay__left {
    transform: translateY(-20%);
}

.modal__container.right-panel__active {
    & .signin__container {
        transform: translateY(100%);
    }

    & .overlay__container {
        transform: translateX(-100%);
    }
    & .overlay__image {
        transform: translateX(0);
    }
}

.modal__container.modal__container.right-panel__active {
    & .signup__container {
        transform: translateX(100%);
        opacity: 1;
    }

    & .overlay {
        transform: translateX(50%);
    }

    & .overlay__right {
        transform: translateY(20%);
    }
}